$lynch: #5f7e97;
$paris-m: #2d2c5d;
$light-gray: #aaaaaa;
$monsoon: #777777;
$tuatara: #444444;
$black: #222222;
$onyx: #111111;
$malibu: #5ca7e4;
$watermelon: #ff5874;
$bermuda: #7fdbca;
$energy-yellow: #f4d554;
$drover: #fbec9f;
$salmon: #f78c6c;
$jordy-blue: #82aaff;
$blue-bayoux: #637777;
$pale-gold: #ecc48d;
$inch-worm: #addb67;
$bright-lavender: #c792ea;
$black-pearl: #011627;
$white: #eeeeee;
$hawkes-blue: #d6deeb;
$baby-blue-eyes: #99ccff;
